*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  min-height: 100vw;
  background-color: rgb(29, 71, 71);
  color: white;
}

.container {
  position: relative;
  /* display: block;
    overflow: hidden; */
}

.section {
  background-color: blue;
  position: relative;
  /*  height: 100vh;*/
  width: 57%;
  margin: 0% auto;
  padding: 100px 0 0;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.2s linear;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  visibility: hidden;
}

.color-btn:checked + label,
.color-btn:not(:checked) + label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 4px;
  background-color: red;
  margin-right: 12px;

  box-shadow: 0 12px 12 px black;
  transition: all 0.2s linear;

  background-size: cover;
  background-position: center;
  z-index: 4;
}

.color-btn:checked + label {
  transform: scale(1.2);
  border: 2px solid black;
}
.color-l1 {
  margin-left: 300px;
  background-image: url("./Assets/color1.jpg");
}
.color-l2 {
  background-image: url("./Assets/color2.jpg");
}
.color-l3 {
  background-image: url("./Assets/color3.jpg");
}
.color-l4 {
  background-image: url("./Assets/color4.jpg");
}
.color-l5 {
  background-image: url("./Assets/color5.jpg");
}
.color-l6 {
  background-image: url("./Assets/color6.jpg");
}

.img {
  position: absolute;
  top: 100px;
  width: 300px;
  height: 400px;
  background-image: url(./Assets/chair1.png);
  background-size: cover;
  background-position: center;
  z-index: 4;
  opacity: 1;
}

.color1:checked .img.img1 {
  opacity: 1;

  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.img.img2 {
  background-image: url(./Assets/chair2.png);
}

.color2:checked .img.img2 {
  opacity: 1;

  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.img.img3 {
  background-image: url(./Assets/chair3.png);
}

.color3:checked .img.img3 {
  opacity: 1;

  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.img.img4 {
  background-image: url(./Assets/chair4.png);
}

.color4:checked .img.img4 {
  opacity: 1;

  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.img.img5 {
  background-image: url(./Assets/chair2.png);
}

.color5:checked .img.img5 {
  opacity: 1;

  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.img.img6 {
  background-image: url(./Assets/chair2.png);
}

.color6:checked .img.img6 {
  opacity: 1;

  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.content {
  z-index: 5;
  position: relative;
  margin-left: 370px;
}

.Color {
  position: fixed;
  width: 100vh;
  height: 100vh;
  top: 0;
  left: 0;
  display: block;
  z-index: 1;

  background: linear-gradient(196deg, #f1a9a9, #f4565f);
}

.Color.bg-color2 {
  background-image: linear-gradient(196deg, #4c4c4c, #262626);
  z-index: 3;
  opacity: 0;
}

.color2:checked.Color.Color.bg-color2 {
  opacity: 1;
}

.Color.bg-color3 {
  background-image: linear-gradient(196deg, #8a9fb2, #5f7991);

  z-index: 3;
  opacity: 0;
}

.color3:checked.Color.Color.bg-color3 {
  opacity: 1;
}

.Color.bg-color4 {
  background-image: linear-gradient(196deg, #97afc3, #6789a7);
  z-index: 3;
  opacity: 0;
}

.color4:checked.Color.Color.bg-color4 {
  opacity: 1;
}

.Color.bg-color5 {
  background-image: linear-gradient(196deg, #97afc3, #6789a7);
  z-index: 3;
  opacity: 0;
}

.color5:checked.Color.Color.bg-color5 {
  opacity: 1;
}

.Color.bg-color6 {
  background-image: linear-gradient(196deg, #aaadac, #838786);
  z-index: 3;
  opacity: 0;
}

.color6:checked.Color.Color.bg-color6 {
  opacity: 1;
}
